.Select--multi .Select-value {
  background-color: #F6FDFC;
  border: 1px solid #1bc3a5;
  color: #212529;
}

.Select--multi .Select-value-icon {
    border-right: 1px solid #1bc3a5;
    background-color: #FFF4F1;
}
